
<form [formGroup]="form" >
  <div class="form-group">
    <label>Code</label>
    <input type="text" class="form-control" formControlName="title">
  </div>

  <div class="form-group">
    <label>Libelle</label>
    <input type="text" class="form-control" formControlName="description">
  </div>

  <div class="form-group">
    <label>Prix Unitaire</label>
    <input type="number" class="form-control" formControlName="price">
  </div>
<div style="align-content: space-between">
  <input class="btn btn-primary" style="align-content: center" type="submit" value="Add product">
  <input class="btn btn-secondary" type="reset" value="Reset">
</div>
</form>
